* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
}

.container {
  position: absolute;
  width: 100%;
  background-color: black;
  color: #ee0979;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 30px 100px;
}
.container .container-right ul {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.container .container-right ul li:hover {
  color: white;
}
.container .container-left p {
  color: white !important;
}
.container .hamburger {
  display: none;
  padding: 10px;
  text-align: end;
  font-size: 30px;
  opacity: 0.5;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.backimg {
  background-image: url("../img/Virtual_Background-Afternoon.jpg");
  width: 100%;
  height: 680px;
  color: white;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  text-align: center;
}
.backimg button {
  padding: 20px 40px 20px 40px;
  margin-top: 40px;
  border-radius: 30px;
  border: none;
  background-color: #ee0979;
  color: white;
  font-size: 20px;
}
.backimg button:hover {
  background-color: #be0761;
}

@media screen and (max-width: 1024px) {
  .container .hamburger {
    display: block;
  }
  .container .container-right ul {
    display: none;
  }
}
.main .main-into {
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 50px;
  font-family: "Segoe UI";
}
.main .main-into img {
  border-radius: 50%;
  padding-left: 50px;
  max-width: 450px;
  width: 100%;
  max-height: 450px;
  height: 100%;
}
.main .main-into .text {
  width: 40%;
  font-size: 15px;
  text-align: start;
}
.main .main-into .text h2 {
  font-size: 3.5rem;
  font-weight: 300;
}
.main .main1 {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
  .main .main-into {
    text-align: center;
    flex-direction: column;
  }
  .main .main-into .text {
    text-align: center;
  }
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}